{% extends "principal.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <section class="d-flex align-items-center justify-content-center text-center text-white m-3 mx-5 shadow-lg rounded-4 banner">
        <div class="container">
            <h1 class="fw-bold display-5">Biblioteca Digital</h1>
            <p class="lead">
                Explore nosso acervo, reserve livros e gerencie seus empréstimos.
            </p>
            <div class="d-flex justify-content-center mt-4">
                <div class="input-group w-50">
                    <input type="text" class="form-control rounded-start-4 px-4 py-2 border border-end-0"
                        placeholder="Buscar livro">
                    <button class="btn rounded-end-pill border border-start-0"
                        style="background-color: #ffffff;">
                        <i class="bi bi-search" style="color: #FFB145;"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-5 px-1">
    <div class="mb-4">
        <h3 class="fw-bold mb-1">Livros em Destaque</h3>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
        {% for livro in livros_destaque %}
            <div class="col">
                <div class="card h-100 border border-light-subtle rounded-4 p-3 bg-white efeito-card shadow-sm">
                    <div class="rounded-3 overflow-hidden mb-3 shadow-sm" style="height: 310px;">
                        {% if livro.foto %}
                            <img src="{{ livro.foto.url }}" class="w-100 h-100" style="object-fit: cover;" alt="Capa {{ livro.titulo }}">
                        {% else %}
                            <img src="https://images.unsplash.com/photo-1543002588-bfa74002ed7e?q=80&w=240&h=310&fit=crop" class="w-100 h-100" style="object-fit: cover;" alt="Capa padrão">
                        {% endif %}
                    </div>
                    <div class="px-1">
                        <h6 class="fw-bold text-dark mb-1 text-truncate" title="{{ livro.titulo }}">
                            {{ livro.titulo }}
                        </h6>
                        <p class="text-secondary small mb-0 text-truncate">
                            {{ livro.autor }} </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12 text-center text-muted py-5">
                <i class="bi bi-star mb-2 fs-3 d-block"></i>
                <p class="mb-0">Nenhum livro em destaque no momento</p>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}