{% extends "principal.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <section class="d-flex align-items-center justify-content-center text-center text-white m-3 mx-5 shadow-lg rounded-4 banner">
        <div class="container">
            <h1 class="fw-bold display-5">Biblioteca Digital</h1>
            <p class="lead">
                Explore nosso acervo, reserve livros e gerencie seus empréstimos.
            </p>
            <div class="d-flex justify-content-center mt-4">
                <div class="input-group w-50">
                    <input type="text" class="form-control rounded-start-4 px-4 py-2 border border-end-0"
                        placeholder="Buscar livro">
                    <button class="btn rounded-end-pill border border-start-0"
                        style="background-color: #ffffff;">
                        <i class="bi bi-search" style="color: #FFB145;"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}