<div class="h-100">
    <nav class="bg-white shadow-sm rounded-4 position-sticky top-0 vh-100">
        <ul class="nav flex-column p-3">
            <li class="nav-item">
                <span class="nav-link text-secondary fw-semibold">
                    <i class="bi bi-bookmarks-fill me-1"></i> Livros </span>
                <ul class="nav flex-column ms-4">
                    <li>
                        <a class="nav-link text-secondary" href="{% url 'livro_adicionar' %}">
                            Cadastrar Livro
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-secondary" href="{% url 'livros' %}">
                            Listar Livros
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item mt-3">
                <span class="nav-link text-secondary fw-semibold">
                    <i class="bi bi-people-fill me-1"></i> Usuários
                </span>
                <ul class="nav flex-column ms-4">
                    <li>
                        <a class="nav-link text-secondary" href="#">
                            Cadastrar Usuário
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-secondary" href="#">
                            Listar Usuários
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>