<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br" data-bs-theme="light">
	{% block head %}
		{% include "head.html" %}
	{% endblock %}
    <body class="bg-light">
		<nav class="navbar">
			<div class="container-fluid pt-3 px-5">
				<a class="navbar-brand px-4" href="{% url 'index' %}">
				  <img src="{% static 'img/logo.png' %}" alt="Logo" width="150">
				</a>
					<div class="d-flex">
						<div class="navbar-expand-lg">
							<a class="btn btn-azul text-white rounded-5 me-2 py-2" href="">
								<i class="bi bi-compass me-2"></i>Explorar</a>
							<a class="btn btn-azul text-white rounded-5 py-2" href="{% url 'painel' %}">
								<i class="bi bi-person-gear me-2"></i>Painel Administrativo</a>
						</div>
					</div>
				</div>
			</div>
		</nav>

       {% if messages %}
       <div class="toast-container bottom-0 p-4" style="z-index: 1055;">
          {% for message in messages %}
             <div class="toast align-items-center text-bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                   <div class="toast-body text-white fs-6">
                      {{ message }}
                   </div>
                   <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
                </div>
             </div>
          {% endfor %}
       </div>
       {% endif %}

	{% block main %}
	  {% block menu %}{% endblock %}
	  {% block content %}{% endblock %}
	{% endblock %}

	{% block footer %}
		{% include "footer.html" %}
	{% endblock %}

	<!-- Script toasts -->
       <script>
          document.addEventListener("DOMContentLoaded", function() {
             // Seleciona todos os elementos com a classe .toast na página
             var toastElList = [].slice.call(document.querySelectorAll('.toast'))
             // Inicializa e mostra cada um deles
             var toastList = toastElList.map(function(toastEl) {
                var toast = new bootstrap.Toast(toastEl)
                toast.show()
                return toast
             });
          });
       </script>

    </body>
</html>