<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br" data-bs-theme="light">
	{% block head %}
		{% include "head.html" %}
	{% endblock %}
    <body class="bg-light">
		<nav class="navbar bg-transparent">
          <div class="container-fluid pt-3 px-5 d-flex justify-content-between align-items-center">
             <a class="navbar-brand px-4" href="{% url 'index' %}">
               <img src="{% static 'img/logo.png' %}" alt="Logo" width="150">
             </a>
             <div class="d-flex gap-2">
                  <a class="btn btn-azul text-white rounded-5 fw-semibold py-2 px-3 shadow-sm transition-effect" href="{% url 'painel' %}">
                     <i class="bi bi-person-gear me-2"></i>Painel Administrativo
                  </a>
             </div>
          </div>
       </nav>

	{% if messages %}
       <div class="mensagem-flutuante-container animate-fade-in">
          {% bootstrap_messages %}
       </div>
    {% endif %}

    {% block main %}
      {% block menu %}{% endblock %}
      {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}
       {% include "footer.html" %}
    {% endblock %}

    </body>
</html>