<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br" data-bs-theme="light">
	{% block head %}
		{% include "head.html" %}
	{% endblock %}
    <body class="bg-light">
		<nav class="navbar">
			<div class="container-fluid pt-3 px-5">
				<a class="navbar-brand px-4" href="{% url 'index' %}">
				  <img src="{% static 'img/logo.png' %}" alt="Logo" width="150">
				</a>
					<div class="d-flex">
						<div class="navbar-expand-lg">
							<a class="btn btn-azul text-white rounded-3" href="">
								<i class="bi bi-compass me-2"></i>Explorar</a>
							<a class="btn btn-azul text-white rounded-3" href="{% url 'painel' %}">
								<i class="bi bi-person-gear me-2"></i>Painel Administrativo</a>
						</div>
					</div>
				</div>
			</div>
		</nav>

	{% if messages %}
		<div class="container-fluid p-3">
			{% bootstrap_messages %}
		</div>
	{% endif %}

	{% block main %}
	  {% block menu %}{% endblock %}
	  {% block content %}{% endblock %}
	{% endblock %}

	{% block footer %}
		{% include "footer.html" %}
	{% endblock %}

    </body>
</html>