{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block main %}
<div class="container-fluid">
	  <div class="row">
		<div class="col-2">
		  {% block menu %} {% include 'menu.html' %} {% endblock %}
		</div>
		<div class="col-9">
		  {% block content %}
            <section class="section">
                <div class="container">
            <form action="" method="GET">
                    <div class="d-flex justify-content-center m-4">
                        <div class="input-group w-50">
                            <input class="form-control rounded-start-pill px-4 py-2" type="text" name="buscar" value="{{ request.GET.buscar }}"
                                   placeholder="Digite o nome do secretário">
                        </div>
                            <button type="submit" class="btn rounded-end-pill" style="background-color: #ec9d32; color: white">
                                Buscar
                            </button>
                    </div>
                </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center p-4">Secretários Cadastrados</h3>
                    <div class="table-responsive border border-light-subtle rounded-3 overflow-hidden">
                        <table class="table table-hover">
                            <thead class="table">
                                <th>Nome</th>
                                <th>Data de nascimento</th>
                                <th>E-mail</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                                {% for secretario in object_list %}
                                    <tr>
                                        <td> {{ secretario.nome }} </td>
                                        <td> {{ secretario.data_nascimento }} </td>
                                        <td> {{ secretario.email }} </td>
                                        <td style="text-align: center">
                                            <a role="button" class="btn btn-sm" style="background-color: #08AB9F; color: white" href="{% url 'secretario_editar' secretario.pk %}">
                                                    <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a role="button" class="btn btn-sm" style="background-color: #ec9d32; color: white" href="{% url 'secretario_apagar' secretario.pk %}">
                                                    <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end py-3">
                        {% bootstrap_pagination object_list url="/secretarios?page=1" size="sm" %}
                    </div>
                </div>
            {% endif %}
                </div>
            </section>
        {% endblock %}
        </div>
	  </div>
	</div>
{% endblock %}
