{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                               placeholder="Digite o nome do livro">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center">Livros Cadastrados</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-success">
                                <th>Título</th>
                                <th>Gênero</th>
                                <th>Autor(a)</th>
                                <th>Editora</th>
                                <th>Status</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                            {% for livro in object_list %}
                                    <tr>
                                        <td> {{ livro.titulo }} </td>
                                        <td> {{ livro.genero }} </td>
                                        <td> {{ livro.autor }} </td>
                                        <td> {{ livro.editora }} </td>
                                        <td> {{ livro.status }} </td>
                                        <td style="text-align: center">
                                            <a href="{% url 'livro_editar' livro.pk %}">
                                                <span class="icon">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                            <a href="{% url 'livro_apagar' livro.pk %}">
                                                <span class="icon">
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% bootstrap_pagination object_list url="/livros?page=1" size="sm" %}
                    </div>
                 </div>
            {% endif %}
        </div>
    </section>
{% endblock %}