.banner {
  height: 320px;
  background: url('/static/img/banner.png') center/cover no-repeat;
}

.btn-azul {
  background-color: #08AB9F;
  border-color: #08AB9F;
  transition: all 0.3s ease;
}

.btn-azul:hover {
  background-color: #05756D;
  border-color: #05756D;
  color: white !important;
}

.btn-azul:focus {
  box-shadow: 0 0 0 0.2rem rgba(8, 171, 159, 0.4);
}

#lista-livros::-webkit-scrollbar {
    display: none; /* Oculta barra no Chrome/Safari */
}

.scroll-suave {
    scroll-behavior: smooth;
}

.efeito-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.efeito-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08) !important;

}

