{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block main %}
    <div class="container-fluid">
		  {% block menu %} {% include 'menu.html' %}{% endblock %}
		  {% block content %}
            <section class="section py-4">
                <div class="container">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                        <h1 class="fw-bold mb-1" style="font-size: 2.2rem;">Empréstimos</h1>
                    </div>
                    <div>
                        <a href="{% url 'emprestimo_adicionar' %}" class="btn text-white px-3 py-2 rounded-3 shadow-sm" style="background-color: #ec9d32;">
                            <i class="bi bi-plus-lg me-2"></i>Novo Empréstimo
                        </a>
                    </div>
                </div>
                <form action="" method="GET" class="mb-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-12 col-md-5">
                            {% bootstrap_field form.cliente layout='horizontal' label_class='col-auto text-secondary fw-semibold' field_class='col shadow-sm rounded-3' wrapper_class='mb-0 align-items-center' %}
                        </div>
                        <div class="col-12 col-md-5">
                            {% bootstrap_field form.secretario layout='horizontal' label_class='col-auto text-secondary fw-semibold' field_class='col shadow-sm rounded-3' wrapper_class='mb-0 align-items-center' %}
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="submit" class="btn text-white w-100 py-2 rounded-3 shadow-sm" style="background-color: #ec9d32;">
                                <i class="bi bi-filter me-1"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>

            <div class="card-body">
            {% if object_list %}
                <div class="table-responsive border border-light-subtle rounded-3 shadow-sm bg-white">
                    <table class="table table-hover align-middle mb-0 custom-table">
                        <thead>
                            <tr>
                                <th>Data de retirada</th>
                                <th>Cópias</th>
                                <th>Usuário</th>
                                <th>Secretário</th>
                                <th>Data de devolução prevista</th>
                                <th>Data devolução</th>
                                <th style="width: 120px; text-align: center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emprestimo in object_list %}
                                <tr>
                                    <td class="fw-semibold text-dark"> {{ emprestimo.data_retirada }} </td>
                                    <td class="text-secondary">
                                        {% for copia in emprestimo.copias.all %}
                                            {% if forloop.last %}
                                                {{ copia }}
                                            {% else %}
                                                {{ copia }},
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="text-secondary fw-medium">{{ emprestimo.cliente }}</td>
                                    <td class="text-secondary">{{ emprestimo.secretario }}</td>
                                    <td></td>
                                    <td class="text-secondary">{{ emprestimo.data_devolucao }}</td>
                                    <td style="text-align: center">
                                       <a role="button" class="btn btn-sm rounded-3 me-1" style="background-color: rgba(8, 171, 159, 0.15); color: #08AB9F" href="{% url 'emprestimo_devolver' emprestimo.pk %}">
                                                <i class="bi bi-check-circle-fill"></i>
                                        </a>
                                        <a role="button" class="btn btn-sm rounded-3" style="background-color: rgba(236, 157, 50, 0.15) ; color: #ec9d32;" href="">
                                                <i class="bi bi-eye-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <div class="d-flex justify-content-end py-3 custom-pagination">
                        {% bootstrap_pagination object_list url="/emprestimos?page=1" size="sm" %}
                    </div>
                </div>
            {% endif %}
                </div>
            </section>
        {% endblock %}
	  </div>
	</div>
{% endblock %}
