{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block main %}
    <div class="container-fluid">
		  {% block menu %} {% include 'menu.html' %}{% endblock %}
		  {% block content %}
            <h3 class="text-center m-2 py-4">Cadastro de empréstimo</h3>
            <div class="card shadow-sm border-light-subtle col-md-7 mx-auto mb-5">
                <div class="card-body">
                    <div class="row">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <h4>Cópias retiradas no empréstimo</h4>
                            <div class="card mt-3">
                                <div class="card-body">
                                    {{ frm_inline.management_form }}
                                    <table class="table table-hover align-middle">
                                        <thead class="table-light">
                                            <tr>
                                                <th style="width: 200px">Cópia</th>
                                                <th>Data de devolução</th>
                                                <th class="text-center">Remover</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for campo in frm_inline %}
                                                <tr>
                                                    {% for hidden in campo.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <td>{% bootstrap_field campo.copia show_label=False %}</td>
                                                    <td>{% bootstrap_field campo.data_devolucao show_label=False %}</td>
                                                    <td class="text-center text-danger">
                                                        {% if campo.instance.pk %}
                                                            {{ campo.DELETE }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-end py-3">
                                {% bootstrap_button button_type="submit" content="Salvar" %}
                                <a href="{% url 'emprestimos' %}" class="btn btn-secondary text-white" type="button">
                                    <span class="text">Cancelar</span>
                                </a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
          {% endblock %}
	  </div>
	</div>
{% endblock %}