{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Dados do Empréstimo</h3>
                <p class="p-2 mt-2"><strong>Usuário: </strong>{{  }}</p>
                <p class="p-2 mt-2"><strong>Secretário: </strong>{{  }}</p>
                <h4> Cópias realizados </h4>
                {% for copias in emprestimo.copias.all %}
                    <p class="p-2 ml-6">{{ copia }} - R$ {{  }} ({{  }}) - Funcionário: {{  }}</p>
                {% endfor %}
                <p class="p-2 ml-6"><strong>Valor total: </strong>{{  }}</p>
                <div class="text-end">
                        <a href="{% url 'agendamentos' %}" class="btn btn-primary text-white" type="button">
                           <span class="text">Voltar</span>
                        </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}