{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block main %}
    <div class="container-fluid">
		  {% block menu %} {% include 'menu.html' %}{% endblock %}
		  {% block content %}
            <section class="section">
                <div class="container">
                    <form action="" method="GET">
                        <div class="d-flex justify-content-center pt-4">
                            <div class="col-sm me-4">
                                {% bootstrap_field form.cliente layout='horizontal' %}
                            </div>
                            <div class="col-sm me-2">
                                <button type="submit" class="btn rounded-pill" style="background-color: #ec9d32; color: white">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center p-4">Reservas</h3>
                    <div class="table-responsive border border-light-subtle rounded-3 overflow-hidden">
                        <table class="table table-hover">
                            <thead class="table">
                                <th>Data prevista para retirada</th>
                                <th>Cópia</th>
                                <th>Usuário</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                                {% for reserva in object_list %}
                                    <tr>
                                        <td> {{ reserva.data_prevista_reserva }} </td>
                                        <td> {{ reserva.copia.livro.titulo }} </td>
                                        <td> {{ reserva.cliente }} </td>
                                        <td style="text-align: center">
                                            <a role="button" class="btn btn-sm" style="background-color: #08AB9F; color: white" href="{% url 'reserva_editar' reserva.pk %}">
                                                    <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a role="button" class="btn btn-sm" style="background-color: #ec9d32; color: white" href="{% url 'reserva_apagar' reserva.pk %}">
                                                    <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end py-3">
                        {% bootstrap_pagination object_list url="/reservas?page=1" size="sm" %}
                    </div>
                </div>
            {% endif %}
                </div>
            </section>
        {% endblock %}
        </div>
	</div>
{% endblock %}
