{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block main %}
    <div class="container-fluid">
         {% block menu %} {% include 'menu.html' %}{% endblock %}
         {% block content %}
            <section class="py-4">
                <div class="container">
                    <div class="mb-4">
                        <h1 class="fw-bold mb-1 text-dark" style="font-size: 2.2rem;">Cadastro de Reservas</h1>
                    </div>
                    <div class="card shadow-sm border-light-subtle rounded-4 bg-white mb-5">
                        <div class="card-body p-4">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-12 col-md-6">
                                        {% bootstrap_field form.cliente wrapper_class='mb-2 fw-semibold text-secondary' %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {% bootstrap_field form.data_prevista_reserva wrapper_class='mb-2 fw-semibold text-secondary' %}
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h4 class="fw-bold text-dark mb-2" style="font-size: 1.25rem;">
                                        <i class="bi bi-book me-1 text-secondary"></i> Cópias disponíveis para reserva
                                    </h4>
                                   <span class="small text-secondary">Selecione a(s) cópia(s) reservadas.</span>
                                    {% bootstrap_field form.copias show_label=False wrapper_class='mb-2 mt-3 fw-semibold text-secondary' %}
                                </div>
                                <hr class="text-light-subtle my-4">
                                <div class="d-flex justify-content-end gap-2">
                                    <a href="{% url 'reservas' %}" class="btn btn-light border fw-medium px-4 py-2 rounded-4 text-secondary shadow-sm">
                                       Cancelar
                                    </a>
                                    <button type="submit" class="btn text-white fw-bold px-4 py-2 rounded-4 shadow-sm" style="background-color: #ec9d32;">
                                        <i class="bi bi-check-lg me-1"></i> Confirmar Reserva
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
          {% endblock %}
       </div>
    </div>
{% endblock %}