{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Dados do cliente</h3>
                <p class="p-2 mt-2"><strong>Nome: </strong>{{ object.nome }}</p>
                <p class="p-2 mt-2"><strong>Fone: </strong>{{ object.fone }}</p>
                {% if object.foto.url is not empty %}
                    <div class="col-2">
                        <img src="{{ object.foto.url }}" class="img-thumbnail" width="100" height="100" alt="">
                    </div>
                {% endif %}
                <p class="p-2 mt-2">Confirma a exclusão do cliente: <strong>{{ object }}</strong>?</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-end">
                        {% bootstrap_button button_type="submit" content="Sim" %}
                        <a href="{% url 'clientes' %}" class="btn btn-secondary text-white" type="button">
                           <span class="text">Cancelar</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}